body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #293241;
  background: url("images/circuitry-background.png");
}

/*//////////////Header/////////////////*/

header { 
  display: flex; 
  background-color: #ED7F63;
  height: 7rem;
  justify-content: space-between;
  width: 100%;
}

nav {
  width: 40%;
  padding-top: 3.5rem;
  margin-left: -1.5rem;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}


li {
  display: inline-block;
}

.icon {
  color: #124559;
}
.user {
  font-size: .7rem;
  padding: .7rem;
}

.login {
  margin: 0 .2rem;
}

a {
  outline: none;
  text-decoration: none;
  color: #293241;
  transition: background-color .5s;
}

a:hover {
  background-color: #FFFFFF; 
}
.logo {
  height: 70px;
  margin-right: 1rem;

}
/*//////////////Main/////////////////*/

main {
  

}

h1 {
  font-family: 'Unlock', cursive;
  font-size: 4rem;
  letter-spacing: .3rem;
  padding: 1rem 0 3rem 1rem;
  margin: 0;
  color: #01161E;
  text-shadow: 1px 2px 2px #E9D758, 0 0 1rem #ED7F63, 0 0 1rem white;
}

h2 {
  font-size: 1rem;

}

.ef-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.card {
  width: 23%;
  min-width: 200px;
  border: 1px solid #293241;
  border-radius: 5px;
  box-shadow:  0px 0px 5px #E0FBFC, inset 0px 0px 3px #ED7F63;
  overflow: hidden;
  height: 25rem;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
}

.cover {
  position: relative;
  width: 100%;
  height: 25%;
  margin-top: 0;
}

.cover-image {
  filter: brightness(80%);
  position: absolute;
  top: -1rem;
  width: 100%;
  max-height: 123px;
  z-index: 0;
}

.cover-image,
img {
  box-shadow: 0px 0px 5px #293241, inset 0px 0px 2px #EE6C4D;
}

.level {
  position: absolute;
  z-index: 2;
  right: 1rem;
  font-size: .7rem;
  color: #F4FAFF;
  text-transform: uppercase;
}

.level-number {
  position: absolute;
  z-index: 2;
  right: 1rem;
  color: #F4FAFF;
  font-size: 2rem;
  line-height: .7rem;
}

.big-icon {
  font-size: 3rem;
  color: #F4FAFF;
  position: absolute;
  z-index: 1;
  padding-left: .5rem;
  padding-top: .5rem;
}

.text-container {
  position: relative;
  padding: 0 1rem;
}

h3 {
  padding-top: 1rem;
  margin: 1rem 0 .2rem 0;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: normal;
}

.link,
.wm-detail {
  font-size: .7rem;
}

.link {
  background-color: #EAEAEA;
  padding: .3rem 1rem;
}

.learn {
  margin-top: .5rem;
}

.num {
  font-size: 2rem;
  color: #ED7F63;
  margin: 0;
}

/*//////////////Cards/////////////////*/


/*///////////Media Queries//////////////*/

